<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-onestore"
        version="0.7.0">
  <name>ONEstore plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/onestore_plugin.js" name="onestore_plugin">
    <merges target="onestore_plugin" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OneStorePlugin">
        <param name="android-package" value="com.example.plugin.OneStorePlugin"/>
      </feature>
    </config-file>


    <source-file src="src/android/OneStorePlugin.java" target-dir="src/com/example/plugin/"/>

    <framework src="com.onestorecorp.sdk:sdk-iap:21.01.00" />

    <framework src="com.google.code.gson:gson:2.11.0" />

    <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>

  </platform>

</plugin>